.photo-product {
    display: inline-block;
    height: 554px;
    background-color: #fff;
    vertical-align: middle;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-right: 124px;
    padding-left: 100px;
    position: relative;
}

.photo-product::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-shadow: inset -10px 0px 20px rgba(0,0,0,.2);
    transform: translateX(-100%);

}

@media (max-width: 1310px) {
    .photo-product {
        margin-right: 140px;
        border-radius: 0;
        text-align: center;
        display: block;
        margin-right: 0px;
        margin-bottom: 30px;
        padding-left: 0;
    }
}

@media (max-width: 560px) {
    .photo-product {
        height: auto;
    }
    
    .photo-product > .photo {
        width: 100%;
    }
}